.img1 {
    border-radius: 100%;
    float: left;
    display: flex;
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

.leadercss {
    display: flex;
    padding: 5px;
    font-size: smaller;
}